a{
	font-weight: 700;
	text-decoration: none;
	font-size: 26px;
	color: #8D81FF;
}
li{
	display: inline-block;
	margin: 0px 80px;
}
.small{
	margin-left: 26px;
}
ul{
	display: inline-block;
}
nav{
	display: inline-block;
	vertical-align: middle;
}

.active{
	color: #4E6FAE;
}
.div{
	background: #E7E7E7;
	padding: 93px 40px 93px 162px;
	width: 1520px;
	height: 775px;
}
*{
	box-sizing: border-box;
}
.img{
	margin-left: 45xp;
	width: 574px;
	height: 449px;
	vertical-align: top;
	margin-left: 54px;
}
.P{
	color: #4E6FAE;
	font-weight: 700;
	font-size: 36px;
	display: inline-block;
	vertical-align: top;
	font-family: "BPG Square", sans-serif;
}

.B{
	display: inline-block;
	color: #7E8898;
	font-weight: 400;
	font-size: 20px;
	margin-top: 27px;
}

samp{
	color: #3F4145;
}
.top{
	vertical-align: top;
}
.border{
	background: #5012D5;
	width: 2px;
	height: 48px;
	margin: 0px;
	border: 2px solid #5012D5;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
}

.info{
	display: inline-block;
	vertical-align: top;
}

.logo{
	margin: 54px;
	vertical-align: middle;
}
.html-logo{
	margin: 54px;
	vertical-align: middle;
}







