a{
		font-weight: 700;
		text-decoration: none;
		font-size: 11px;
		color: #000000;
		font-family: "BPG Square", sans-serif;
}
body{  
  	background-image: url("../images/60ab777e17b2c9be9058c96c_picfair-01350937-dunes-and-desert-landscape-of-namib-fu-PREVIEW-ONLY.jpg");
  	background-repeat: no-repeat;
  	background-color: #cccccc;
  	height: 1303px;
}
.camel{
	top: 900px;
	left: 0px;
	position: absolute;
	width: 120px;
	animation:  myAnimation 5s;
	animation-iteration-count: infinite;
	animation-delay: 0.3s;
	z-index: 2;
}

@keyframes myAnimation{
		0%{
			top: 900px;
			left: 0px;
		}
		70%{
			top: 800px;
			left: 600px;
		}
		100%{
			top: 900px;
			left: 0px;
		}
}
.merchant{
	top: 900px;
	right: 0px;
	position: absolute;
	width: 90px;
	animation: mirchent 5s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	z-index: 2;
}

@keyframes mirchent{
	0%{
		right: 0px;
		top: 900px;
	}
	50%{
		right: 700px;
		top: 800px;
	}
	100%{
		right:0px;
		top: 900px;
	}
}
.the_box{
	top: 900px;
	right: 0px;
	position: absolute;
	width: 50px;
	animation: the_box 5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	z-index: 3;	
}
@keyframes the_box{
		0%{
			top: 900px;
			right: 0px;
		}
		50%{
			right: 730px;
			top: 800px;
		}
		100%{
			top: 900px;
			right: 1433px;
		}
}
.shop1{
	position: absolute;
	width: 200px;
	top: 800px;
	left: 650px;
	z-index: 0;
}
.shop{
	position: absolute;
	top: 900px;
	right: 0px;
	width: 200px;
	z-index: 4;
}
.house{
	position: absolute;
	top: 900px;
	left: 0px;
	width: 150px;
	z-index: 6;
}
.the_bird{
		position: absolute;
		width: 70px;
		top: 70px;
		left: 40px;
		transition: all 5s;
}
.the_bird:hover {
	transform: rotate(30deg);
	top: 800px;
	left: 700px;
} 